<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppRTCDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01B03A44BBEE34936DDBD61C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>138715FBD9703933824CCA1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19FBA1992E9211A8D3055C28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A2F11CDF96453375DB8EDCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B6DF3A76FC29FFA8DF2F435</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C6E1CFC0F4DF965268FA1FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B1D95F19B2456BD87E147C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D2D5AACCF8A2302E5CE24E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>503BBEE31E21DDE68EAC5609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50ACD3E1D6F1BE1BFD7AA997</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5664B1BA5B50E0E238983ADC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E57621C900158CB812EE7B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>600089F5072FA1BD40C7D283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61CCC8240D8AFBC3521E3307</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67CBE12FCB2862D518474169</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AFD0AFAD1E9E69076AEADB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BE397E67DC5260A755596AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DB6CE29D7C03CA6BC1A8438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DC468A0A0E47782948A2997</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70C768295800307B976AE2B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>715C60F4F31EC27B67A25245</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76126F8A40D5FCAB47B37802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F3EE0353007091DB01DF055</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90363E458062169BB695329D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>958AE4D76F5FA58A6473DBCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A8224F62E3CE998F23BB08D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D5C6EF8134015C4FEA80851</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A622D5F3EC105AD116252697</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B676BC781D5FA783AAF284A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B73030474A0A3D79E7EE62FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B74390FD4607C6A17DEEE35C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8D7540D34BAE4F7D27D0855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8EC0A1536B806D954237EE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C132CC6721986A84C350B3E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF768876D6DEB0DCF23F8F2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D25E8344F68B1E5E4D8E77F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8288D50571200789E767B73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2396122D7CE7F21F911B1B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB7A298155DA54FA5C490D0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
